.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.modalDialog:target {
  display: block;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  /*background: -moz-linear-gradient(#fff, #999);*/
  /*background: -webkit-linear-gradient(#fff, #999);*/
  /*background: -o-linear-gradient(#fff, #999);*/
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

#callMe{
  width: 180px;
  height: 50px;
  display: block;
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 999;
  background: url("../img/callMe.png");
  background-repeat: no-repeat;
}

#callMe i.callMe:before {
  content: url(../img/call.png);
}

#callMeNowBlock {
  width: 317px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 30px;
  padding-left: 33px;
}
#callMeNowBlock > div:nth-child(2) > div:nth-child(1) {
  font-size: 21px;
}
#callMeNowBlock > div:nth-child(2) > div:nth-child(2) {
  margin-top: 17px;
  font-size: 15px;
}
#callMeNowBlock > div:nth-child(2) > input {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-radius: 6px;
  font-size: 15px;
  padding: 5px;
  width: 260px;
  /*height: 35px;*/
  outline: none;
}
#callMeNowBlock > div:nth-child(2) > div:nth-child(4) {
  margin-top: 9px;
  color: #6b6a6a;
  font-size: 12px;
  /*height: 25px;*/
  padding-right: 20px;
}
#callMeNowBlock > div:nth-child(2) #callButton:hover {
  background: linear-gradient(#ffffff 0px, #cccccc 100%);
}
#callMeNowBlock > div:nth-child(2) #callButton {
  /*margin-left: 2px;*/
  margin-top: 10px;
  /*border: 1px solid #cccccc;*/
  font-size: 15px;
  /*border-radius: 10px;*/
  /*padding-bottom: 7px;*/
  padding-left: 10px;
  /*padding-right: 15px;*/
  display: inline-block;
  cursor: pointer;
  /*line-height: 25px;*/
  /*height: 25px;*/
  /*background-image: linear-gradient(#ffffff 0px, #dadada 100%);*/
}
#callMeNowBlock > div:nth-child(2) #callButton > span {
  background-image: url(../img/call.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  display: inline-block;
  position: relative;
  top: 4px;
}

#callMeNowBlock > div:nth-child(3) > div:nth-child(1) {
  font-size: 21px;
}
#callMeNowBlock > div:nth-child(3) > div:nth-child(1) > span {
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  display: inline-block;
  padding-right: 10px;
}
#callMeNowBlock > div:nth-child(3) > div:nth-child(2) {
  font-size: 15px;
  margin-top: 15px;
  margin-left: 30px;
  padding-right: 90px;
  height: 20px;
  line-height: 20px;
}

#callMeNowBlock.prompt > div:nth-child(2) {
  display: block;
}
#callMeNowBlock.prompt > div:nth-child(3) {
  display: none;
}
#callMeNowBlock.success {
  padding-left: 26px;
  padding-right: 6px;
}
#callMeNowBlock.success > div:nth-child(2) {
  display: none;
}
#callMeNowBlock.success > div:nth-child(3) {
  display: block;
}
#callMeNowBlock.error > div:nth-child(2) {
  display: block;
}
#callMeNowBlock.error > div:nth-child(2) > input {
  border: 1px solid #dc241f;
}
#callMeNowBlock.error > div:nth-child(2) > div:nth-child(4) {
  color: #dc241f;
}
#callMeNowBlock.error > div:nth-child(3) {
  display: none;
}
