#main{
    
}
@media (max-height: 1080px){
  #main{min-height: 530px;}
}
@media (max-height: 900px){
  #main{min-height: 350px;}
}
@media (max-height: 800px){
  #main{min-height: 250px;}
}
@media (max-height: 768px){
  #main{min-height: 217px;}
}


@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/rc/Roboto-Condensed.eot");
    src:  url("../fonts/rc/Roboto-Condensed.eot") format('embedded-opentype'), 
          url("../fonts/rc/Roboto-Condensed.woff") format('woff'), 
          url("../fonts/rc/Roboto-Condensed.ttf") format('truetype'), 
          url("../fonts/rc/Roboto-Condensed.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/rcb/RobotoCondensed-Bold.eot");
    src:  url("../fonts/rcb/RobotoCondensed-Bold.eot") format('embedded-opentype'), 
          url("../fonts/rcb/RobotoCondensed-Bold.woff") format('woff'), 
          url("../fonts/rcb/RobotoCondensed-Bold.ttf") format('truetype'), 
          url("../fonts/rcb/RobotoCondensed-Bold.svg") format('svg');
    font-weight: bold;
    font-style: normal;
}









/* Элементы хэдера */
@media (max-width: 480px){
.header_user li.checkout {display: inline-block !important;}
}

.header_user li.user a{font-weight: bold;}


.logo_header{
    padding: 15px 0 0;
}
.header_center_panel{
    padding: 20px 0 0;
    text-align: center;
    float: left;
}
.header_center_panel a{
    font-size: 30px;
    font-weight: bold;
}



/* Костыль для плагина stickUp */
@media (max-width: 991px){
    #megamenu + div {margin-top: 0 !important;}
}

.top-phone{
    padding-top: 18px !important;
}
.top-phone a{
    font-size: 16px !important;
    font-weight: bold;
}

.top-callback{
    background-color: #01ab4e;
    float: right;
    transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    padding: 0 !important;
}
.top-callback a{
    color: #fff !important;
    font-size: 18px;
    display: inline-block;
    padding: 16px 30px 17px;
}
.top-callback:hover{
    background-color: #03543d;
}
.top-callback .glyphicon{
    font-size: 27px;
}

.header_user li {
    padding: 0 30px;
}



.header_right{
    padding-top: 15px;
    text-align: center;
}
@media (max-width: 1200px){
  .header_right{
      padding-top: 15px;
  }
}

.sf-menu > li > ul {
    width: inherit;
}
.submenu_1 a {
    font-size: 16px;
}
.sf-menu .submenu {
    padding: 0 20px 20px;
}

body a:hover, body a:active, body a:visited{
    text-decoration: none !important;
}



@media (max-width: 1200px){
  .showcase_block__1 h2 {
      padding: 0 20px;
  }
}
@media (max-width: 640px){
  .showcase_block__1 h2 {
      font-size: 30px
  }
}



.table_cell__1{
    background-image: url(../img/slide2_image.jpg);
    background-size: cover;
    position: relative;
}
.table_cell__2{
    background-image: url(../img/custom_showcase1_img.jpg);
    background-size: cover;
}
.showcase_block__1{
    height: 460px;
}
.showcase_block_description{
    max-width: 60%;
}
@media (max-width: 1024px){
    .showcase_block_description{
        max-width: 360px;
    }
}

@media (max-width: 991px){
    .showcase_block__1{
        height: 330px;
    }
}
/* /Элементы хэдера */


/* Слайдер товаров */
.product_listing_main .product_img a{
    padding: 5px;
}
.product_listing_main .product_img a:hover{
    background-color: #00ab4e;
}
/* /Слайдер товаров */





/* На странице товара */
.breadcrumb_wrap {
    margin: 0 0 30px 0;
}

.zoomWrapper{
    height: 345px;
    width: 345px;
    padding: 5px;
    margin: 0 auto;
}
#elevatezoom_gallery a{
    padding: 3px;
}

.product-view .bx-wrapper{
    max-width: 345px !important;
    margin: 12px auto 0;
    padding: 0 30px;
}

@media (max-width: 991px){
    .product-view .bx-wrapper{
        max-width: 262px !important;
    }
}
@media (max-width: 767px){
    .product-view .bx-wrapper{
        max-width: 290px !important;
    }
}

.product-view .bx-wrapper .bx-prev{ left: 0; }
.product-view .bx-wrapper .bx-next{ right: 0; }



.product_details > div{
    overflow: hidden;
}
.product_details > div > span{
    text-align: right;
    float: right;
    font-weight: bold;
}


.product_wrap .product_details {
    border-bottom: none;
}
.product_wrap #product_description {
    border-top: 1px solid #d9d9d9;
    margin-top: 0;
}



.product_wrap .product_badge{
    height: 30px;
    display: block;
    padding: 0 10px;
    font-size: 15px;
    line-height: 29px;
    /*color: #ffffff;*/
    font-weight: normal;
    float: right;
    margin-top: 8px;
}
.product_wrap .product_badge.new, .p_badge.good-status{
    color: #00ab4e;
}
.product_wrap .product_badge.sale, .p_badge.bad-status{
    color: #f54040;
}
.p_badge.neutral-status{
    color: #f6b220;
}
.p_badge{
    display: inline-block;
    padding: 2px 15px 3px;
    font-size: 15px;
    line-height: 29px;
   /* color: #ffffff;*/
    font-weight: normal;
}

.order-total{
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9;
}
/* /На странице товара */








/* Лэйблы форм */
form label{
    font-weight: bold;
}
/* /Лэйблы форм */


/* Google-maps */
.template-index #google_map {
    margin: 0 0 0 0;
}
.map-container{
    margin-top: 30px;
}
/* /Google-maps */



/* Страница категории */
.collection_listing_item .collection_img a {
    padding: 5px;
}
.collection_listing_item .collection_img a:hover {
    background-color: #00ab4e;
}
.collection_listing_item {
    padding: 5px;
}
/* /Страница категории */




/* PAGINATION */
.pag {display: inline-block;overflow: hidden;float: right;margin: 10px 0 0 10px;font-size: 0;}
.pag li {display: inline-block;vertical-align: top;}
.pag li ~ li {margin: 0 0 0 2px;}

.pag li a {height: 30px;display: block;padding: 0 10px;background: #ffffff;border: 1px solid #ffffff;font-size: 13px;line-height: 29px;color: #00ab4e;}

.pag li a:hover {background: #00553c;border-color: #00553c;color: #ffffff;}
.pag li.active a{width: 30px;height: 30px;background: #00ab4e;border: 1px solid #00ab4e;font-weight: bold;font-size: 13px;line-height: 29px;color: #ffffff;text-align: center;cursor: default;}
/* /PAGINATION */


/* ГЛАВНАЯ */
@media (max-width: 767px){
    .showcase_block__1 a div {
        top: 25%;
    }
}
.showcase_button_p:before {
    content: none !important;
}
.showcase_button_p{
    margin-top: 0 !important;
}
#parallax_block p.wow.animated{
    margin-bottom: 40px;
}
.product_name a{
    font-weight: bold;
}

/* /ГЛАВНАЯ */






/* FILTER */
.filter-container{
    margin-bottom: 15px;
}
.filter-header{
    background-color: #e5e5e5;
}
.filter-header h4{
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}
.filter-body{
    padding: 10px 0;
}
.filter-body p{
    margin: 0 0 10px;
}
.filter-body select{
    width: 100px;
}
.filter-body input[type="text"]{
    width: 73px;
    vertical-align: middle;
    margin: 0 5px;
}
.filter-body button{
    margin: 0 10px 0 0;
}

.filter-body-select{
    height: 33px !important;
    line-height: 33px !important;
    border-radius: 0 !important;
    z-index: 500;
}
.filter-body-select .list{
    border-radius: 0 !important;
}
/* /FILTER */





/* ВЕРХНИЙ СЛАЙДЕР НА ГЛАВНОЙ */
@media (max-width: 1600px){
    .showcase_block__1 a div {
        top: 15% !important;
    }
}
@media (max-width: 767px){
    .showcase_block__1 a div {
        top: 25% !important;
    }
}
@media (max-width: 640px){
    .showcase_block__1 a div {
        top: 18% !important;
    }
}
/* /ВЕРХНИЙ СЛАЙДЕР НА ГЛАВНОЙ */



/* ФИЛЬТР НА ГЛАВНОЙ */

.main-filter{
    position: absolute;
    right: 30px;
    top: 30%;
    padding: 0 0 0 30px;
}
@media (max-width: 991px){
    .main-filter{
        top: 25%;
    }
}
@media (max-width: 767px){
    .main-filter{
        top: 25%;
    }
}
@media (max-width: 600px){
    .main-filter{
        display: none;
    }
    .showcase_block__1 {
        height: 78vw;
    }
}
@media (min-width: 1200px){
    .main-filter{
        
    }
}
.main-filter label{
    color: #fff;
    font-weight: bold;
}
.main-filter-label{
    color: #fff;
    padding: 7px 0;
    background: none !important;
    border: 2px solid #ffffff !important;
    font-size: 16px;
    font-weight: normal;
    margin-right: 15px;
    width: 75px;
    text-align: center;
}
.main-filter-select{
    float: none;
    display: inline-block;
    border-radius: 0;
    border: none;
    height: 42px;
    min-width: 82px;
}
.main-filter-select .list{
    border-radius: 0;
}
.main-filter-row{
    margin-bottom: 5px;
    width: 210px;
}
.main-filter button.btn{
    color: #fff;
    padding: 6px 0;
    background: none !important;
    border: 2px solid #ffffff !important;
    font-size: 20px;
    margin-right: 15px;
    width: 205px;
    text-align: center;
}
.main-filter button:hover {
    background: #ffffff !important;
    color: #00ab4e !important;
}
.main-filter .select2-container{
    min-width: 111px !important;
}
/* /ФИЛЬТР НА ГЛАВНОЙ */



/* КОРЗИНА */
.item_image a {
    padding: 5px;
    background-color: rgba(0,0,0,.05);
    display: inline-block;
}
.item_image a:hover{
    background-color: #00ab4e;
}
.sidebar_widget .widget_content {
    margin: 0;
}

@media (max-width: 1000px){
    .product-cart-btn-1 i{display: none !important;}
}
@media (min-width: 768px){
    .product-cart-btn-2{display: none;}
}
.product-cart-btn-2{float:right;}

/* /КОРЗИНА */


.customer-form{max-width:450px;}


.mb-50{ margin-bottom: 50px; }
.mb-10{ margin-bottom: 10px; }
.ml-20{ margin-left: 20px; }


.product_img_hover{
    cursor: pointer;
}

table th{
    font-weight: bold;
}

.blank-space{
    height: 50px;
}


.select2-container--default .select2-selection--single
{ border-radius: 0 !important; }
.select2-dropdown
{ border-radius: 0 !important; border: 1px solid #d9d9d9 !important; }
.select2-container .select2-selection--single
{ border: 1px solid #d9d9d9 !important; }
.main-filter .select2-container .select2-selection--single
{ height: 42px !important; }
.main-filter .select2-container--default .select2-selection--single .select2-selection__rendered
{ line-height: 42px !important; }
.main-filter .select2-container--default .select2-selection--single .select2-selection__arrow
{ height: 40px !important;}



/* ДЛЯ ОБЯЗАТЕЛЬНЫХ ПОЛЕЙ */
form div.required label.control-label:after {
    content:" * ";
    color:red;
}

/* Цена */
@media (max-width: 768px) {
    .product_listing_main .product_price .money {
        font-size: 27px;
    }
}

/* BUTTONS */
.btn-warning,
.btn-warning a {padding: 8px 15px;background: #F6B220 !important;border-color: #F6B220 !important;line-height: 1.2em;color: #ffffff !important;
    border-radius: 0 !important;
    box-shadow: none !important;

    -webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}

.btn-warning:hover,
.btn-warning:hover a {background: #f39f18 !important;border-color: #f39f18 !important;}

/* MODAL */
.modal-backdrop{
    display: none;
}
.modal{
    z-index: 10000;
}


/* MARGIN STYLES */
.margin-0{ margin: 0; }

.margin-r-5{ margin-right: 5px; }
.margin-r-10{ margin-right: 10px; }
.margin-r-20{ margin-right: 20px; }

.margin-b-5{ margin-bottom: 5px; }
.margin-b-10{ margin-bottom: 10px; }
.margin-b-20{ margin-bottom: 20px; }
.margin-b-30{ margin-bottom: 30px; }
.margin-b-40{ margin-bottom: 40px; }
.margin-b-50{ margin-bottom: 50px; }

.margin-t-5{ margin-top: 5px; }
.margin-t-10{ margin-top: 10px; }
.margin-t-20{ margin-top: 20px; }
.margin-t-30{ margin-top: 30px; }
.margin-t-40{ margin-top: 40px; }






/* ---------------------------------------------
                AUTOCLEAR
 --------------------------------------------- */
@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}


.fa-vk, .fa-facebook, .fa-instagram{
    margin: 0 10px 0 0;
    padding: 10px 0;
    background-color: #00543d;
    color: #fff !important;
    text-align: center;
    width: 35px;
    border-radius: 30px;
    transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    font-size: 15px;
    text-decoration: none !important;
}
.fa-vk:hover, .fa-facebook:hover, .fa-instagram:hover{
    background: #00ab4e !important;
}

.bx-wrapper{
    margin-bottom:0;
    padding:0;
    border:none;
}


.services-item a{
    color: #f6b220;
}
.services-item a:hover{
    color: #fff;
}
.services-case-text{
    font-size: 20px;
    font-style: italic;
    line-height: 26px;
}


.main-slider-wrapper .bx-wrapper .bx-prev{ left: 5px; }
.main-slider-wrapper .bx-wrapper .bx-next{ right: 5px; }

#main{
    font-size: 15px;
}

#main h3{
    font-size: 18px;
}