/********************************************************************************************************

1. CSS RESET

2. VARIABLES
2.1 GRADIENTS
2.2 COLOR VARIABLES
2.3 CSS3 TRANSITIONS

3. GLOBAL THEME STYLES

4. TYPOGRAPHY
4.1 HEADINGS
4.2 PARAGRAPHS & LISTS
4.3 LINKS
4.4 PRODUCT ATTRIBUTES (name, description, price)
4.5 RTE

5. FORMS & COMPONENTS
5.1 FORMS
5.2 ALERTS
5.3 BUTTONS

6. GLOBAL PAGE LAYOUT

7. MAIN PAGE
7.1 HEADER
7.2 MEGAMENU
7.3 NIVOSLIDER
7.4 SHOWCASE
7.5 MAIN PRODUCT LISTING
7.6 OTHER HOMEPAGE BLOCKS
7.7 FOOTER

8. COLLECTION PAGES
8.1 BREADCRUMBS
8.2 DESCRIPTIONS & TAGS
8.3 PRODUCTS SORTING
8.4 COLLECTION LISTING
8.5 PAGINATION

9. SIDEBAR WIDGETS
9.1 LINKS LIST
9.2 SIDEBAR PRODUCT LISTING

10. SEARCH RESULTS PAGE

11. PRODUCT PAGE
11.1 PRODUCT IMAGES
11.2 PRODUCT INFO
11.3 PRODUCT PAGINATION
11.4 RELATED PRODUCTS

12. BLOG
12.1 POSTS LISTING
12.2 SINGLE POST

13. CUSTOMER PAGES
13.1 LOG IN
13.2 ACCOUNT
13.3 ADDRESSES
13.4 ORDERS

14. CART PAGE
14.1 CART PRODUCTS
14.2 GUEST CHECKOUT

15. CONTACTS PAGE

16. PAGE 404

********************************************************************************************************/




/********************************************************************************************************
							2100px <
********************************************************************************************************/

@media (min-width: 2100px) {

.page_container {max-width: 100%;}




/* 7.6 OTHER HOMEPAGE BLOCKS */
/* HOMEPAGE INFO BLOCK */
.homepage_info {
-webkit-background-size: 100% auto;
		background-size: 100% auto;
}

}




/********************************************************************************************************
							< 1900px
********************************************************************************************************/

@media (max-width: 1900px) {

/* 7.3 NIVOSLIDER */
.nivo-caption {top: 40%;}
.nivo-caption h2 {padding: 0 30px;font-size: 60px;letter-spacing: 0;}
.nivo-caption h3 {margin: 0;padding: 0 30px;font-size: 45px;letter-spacing: 0;}
.nivo-caption p {width: 60%;margin: 23px 0 0 0;padding: 32px 30px 0 30px;font-size: 15px;line-height: 27px;}
.nivo-caption p:before {width: 474px;left: 30px;}

.slider_controls {padding: 0 30px;bottom: 30px;}




/* 7.4 SHOWCASE */
.showcase_block__1 a div {top: 20%;}
.showcase_block__1 h2 {padding: 0 30px;font-size: 60px;letter-spacing: 0;}
.showcase_block__1 h3 {margin: 0;padding: 0 30px;font-size: 45px;letter-spacing: 0;}
.showcase_block__1 p {width: 90%;margin: 23px 0 0 0;padding: 32px 30px 0 30px;font-size: 15px;line-height: 27px;}
.showcase_block__1 p:before {width: 474px;left: 30px;}


.showcase_row__2 {}
.showcase_row__2 .showcase_block a .wrap_3 {padding: 0 30px;}
.showcase_row__2 .showcase_block h3 {font-size: 60px;}
.showcase_row__2 .showcase_block h4 {margin: 0;font-size: 45px;}
.showcase_row__2 .showcase_block .btn {padding: 10px 15px;}




}




/********************************************************************************************************
							< 1600px
********************************************************************************************************/

@media (max-width: 1600px) {

/* 7.3 NIVOSLIDER */
.nivo-caption {top: 40%;}
.nivo-caption h2 {padding: 0 30px;font-size: 50px;}
.nivo-caption h3 {margin: 0;padding: 0 30px;font-size: 35px;}
.nivo-caption p {width: 60%;margin: 15px 0 0 0;padding: 25px 30px 0 30px;font-size: 14px;line-height: 1.5em;}
.nivo-caption p:before {width: 474px;left: 30px;}

.slider_controls {padding: 0 30px;bottom: 30px;}




/* 7.4 SHOWCASE */
.showcase_block__1 a div {top: 40%;}
.showcase_block__1 h2 {padding: 0 30px;font-size: 50px;}
.showcase_block__1 h3 {margin: 0;padding: 0 30px;font-size: 35px;}
.showcase_block__1 p {width: 90%;margin: 15px 0 0 0;padding: 25px 30px 0 30px;font-size: 14px;line-height: 1.5em;}
.showcase_block__1 p:before {width: 474px;left: 30px;}


.showcase_row__2 {}
.showcase_row__2 .showcase_block h3 {font-size: 45px;}
.showcase_row__2 .showcase_block h4 {font-size: 30px;}
.showcase_row__2 .showcase_block .btn {padding: 7px 15px;}




}




/********************************************************************************************************
							< 1400px
********************************************************************************************************/

@media (max-width: 1400px) {

/* 7.3 NIVOSLIDER */
.nivo-caption {top: 35%;}
.nivo-caption h2 {padding: 0 20px;font-size: 45px;}
.nivo-caption h3 {margin: 0;padding: 0 20px;font-size: 30px;}
.nivo-caption p {width: 80%;margin: 15px 0 0 0;padding: 20px 20px 0 20px;font-size: 14px;line-height: 1.5em;}
.nivo-caption p:before {width: 50%;left: 20px;}

.slider_controls {padding: 0 20px;bottom: 20px;}




/* 7.4 SHOWCASE */
.showcase_block__1 a div {top: 35%;}
.showcase_block__1 h2 {padding: 0 20px;font-size: 45px;}
.showcase_block__1 h3 {margin: 0;padding: 0 20px;font-size: 30px;}
.showcase_block__1 p {width: 100%;margin: 15px 0 0 0;padding: 20px 20px 0 20px;font-size: 14px;line-height: 1.5em;}
.showcase_block__1 p:before {width: 50%;left: 20px;}


.showcase_row__2 {}
.showcase_row__2 .showcase_block a .wrap_3 {padding: 0 20px;}
.showcase_row__2 .showcase_block h3 {font-size: 40px;}
.showcase_row__2 .showcase_block h4 {font-size: 25px;}
.showcase_row__2 .showcase_block .btn {font-size: 16px;}




}




/********************************************************************************************************
							< 1300px
********************************************************************************************************/

@media (max-width: 1300px) {

/* BACK TO TOP BUTTON */
#back_top {margin: 0 0 0 555px;}




}




/********************************************************************************************************
							< 1200px
********************************************************************************************************/

@media (max-width: 1199px) {

/* 3. GLOBAL THEME STYLES */
/* cookies policy message */
.cookies_container {text-align: center;}
.cookies_container p {display: block;font-size: 15px;}
.cookies_container .cookie_btn {margin: 10px 0;font-size: 15px;}




/* 4.1 HEADINGS */
.page_heading {font-size: 24px;}




/* 7.1 HEADER */
.logo_header {float: none;text-align: center;}

.header_right {float: none;}

.social_header {margin: 0;text-align: center;}
.social_links li {margin: 6px 0 0 0;}
.social_links li ~ li {margin: 6px 0 0 6px;}

.header_user { width: 65%; }
.header_user li.checkout { float: right;}
.cart_currency {width: 35%;float: left;background: #f6b220;}
.header_currency {}
.header_cart {float: left;}
.header_cart a {}




/* 7.2 MEGAMENU */
.sf-menu > li.megamenu_item_1 {width: 240px;}




/* 7.3 NIVOSLIDER */
.nivo-caption {top: 30%;}
.nivo-caption h2 {font-size: 30px;}
.nivo-caption h3 {font-size: 20px;}
.nivo-caption p {padding: 15px 20px 0 20px;}
.nivo-caption p:before {height: 5px;left: 20px;}




/* 7.4 SHOWCASE */
.showcase_block__1 a div {top: 30%;}
.showcase_block__1 h2 {font-size: 30px;}
.showcase_block__1 h3 {font-size: 20px;}
.showcase_block__1 p {padding: 15px 20px 0 20px;}
.showcase_block__1 p:before {height: 5px;left: 20px;}


.showcase_row__2 {}
.showcase_row__2 .showcase_block h3 {font-size: 30px;}
.showcase_row__2 .showcase_block h3:before {height: 5px;}
.showcase_row__2 .showcase_block h4 {font-size: 20px;}
.showcase_row__2 .showcase_block .btn {}




/* 7.5 MAIN PRODUCT LISTING */

/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
.homepage_carousel .product {width: 243px !important;}




/* COLLECTION PRODUCT LISTING (GRID/LIST) */

/* 7.6 OTHER HOMEPAGE BLOCKS */
/* HOMEPAGE INFO BLOCK */
.homepage_info {padding: 40px 0;}

#homepage_info__title .wrap-1 {font-size: 60px;}
#homepage_info__title .wrap-2 {margin: 0;font-size: 45px;}
#homepage_info__title:after {width: 400px;margin: 20px 0 0 0;}

.homepage_info_item {margin: 15px 0 0 0;}
.homepage_info_item h3 {font-size: 20px;}
.homepage_info_item h3 span {margin: 0 15px 0 0;font-size: 40px;}
.homepage_info_item p {margin: 0;font-size: 14px;line-height: 1.5em;}




/* HOMEPAGE BOTTOM BLOCK */
.homepage_bottom_item a {height: 150px;}
.homepage_bottom_item .wrap_2 {width: 150px;}
.homepage_bottom_item a h3 {font-size: 30px;}
.homepage_bottom_item a i {font-size: 50px;}

.homepage_bottom_item a:hover .wrap_2 {width: 180px;}
.homepage_bottom_item a:hover i {font-size: 70px;}
.homepage_bottom_item a:hover h3 {font-size: 25px;}




/* 7.7 FOOTER */

/* BACK TO TOP BUTTON */
#back_top {margin: 0 0 0 455px;}



/* 9. SIDEBAR WIDGETS */
.sidebar_widget .widget_header {font-size: 24px;}




/* 9.1 LINKS LIST */
.sidebar_widget ul li a {font-size: 16px;}




/* 9.2 SIDEBAR PRODUCT LISTING */
.sidebar_widget .product {text-align: center;}
.sidebar_widget .product_img {width: 100%;float: none;}
.sidebar_widget .product_info {margin: 10px 0 0 0;}




/* 14.1 CART PRODUCTS */
.cart-list .item_image a {width: 158px;}




}




/********************************************************************************************************
							< 991px
********************************************************************************************************/

@media (max-width: 991px) {
  
.cart_popup {top: 0 !important;}
.header_user{
    width: 65%;
}
.header_user li.user {
    width: 35%;
    height: 60px;
    overflow: hidden;
}
.header_user li.checkout {
    float: right;
}


.showcase_block_description {
    max-width: 340px;
}



/* 7.1 HEADER */

/* 7.2 MEGAMENU */
#megamenu.isStuck {position: relative !important;left: auto;right: auto;}
.pseudoStickyBlock {display: none !important;}

.megamenu_mobile {width: 50%;float: left;position: relative;}

.megamenu_mobile h2 {height: 60px;overflow: hidden;margin: 0;padding: 0 50px 0 20px;background: #00ab4e;font-size: 33px;line-height: 60px;color: #ffffff;white-space: nowrap;text-overflow: ellipsis;cursor: pointer;position: relative;}
.megamenu_mobile h2 i {position: absolute;right: 20px;top: 0;}
.megamenu_mobile h2 i:before {content: '\f0c9';font: 20px/60px 'FontAwesome';}

.megamenu_mobile a {color: #ffffff;}
.megamenu_mobile a:hover {color: #f6b220;}

.megamenu_mobile ul {width: 100%;background: #00ab4e;
display: none;
}
.megamenu_mobile ul li {border-top: 1px solid rgba(255,255,255,.25);position: relative;}
.megamenu_mobile ul li i {float: right;}
.megamenu_mobile ul li i:after {content: '\f0fe';font: 22px 'FontAwesome';}
.megamenu_mobile ul li i.active:after {content: '\f146';}

.megamenu_mobile .level_1 {position: absolute;}
.megamenu_mobile .level_1 li {}
.megamenu_mobile .level_1 li a {display: block;padding: 5px 15px;font-size: 22px;}

.megamenu_mobile .level_2 {}
.megamenu_mobile .level_2 li {}
.megamenu_mobile .level_2 li a {padding-left: 30px;font-size: 18px;}

.megamenu_mobile .level_3 {}
.megamenu_mobile .level_3 li {}
.megamenu_mobile .level_3 li a {padding-left: 45px;font-size: 16px;}


.header_search {width: 50%;}




/* 7.3 NIVOSLIDER */
.nivo-caption {margin: -27px 0 0 0;top: 50%;}
.nivo-caption h2 {font-size: 40px;}
.nivo-caption h3 {font-size: 25px;}
.nivo-caption p {display: none;}




/* 7.4 SHOWCASE */
.showcase_block__1 a div {margin: -27px 0 0 0;top: 50%;}
.showcase_block__1 h2 {font-size: 40px;}
.showcase_block__1 h3 {font-size: 25px;}
.showcase_block__1 table {display: none;}


.showcase_row__2 .showcase_block h3:before {display: none;}
.showcase_row__2 .showcase_block .btn {display: none;}




/* 7.5 MAIN PRODUCT LISTING */

/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
.homepage_carousel .product {width: 250px !important;}




/* COLLECTION PRODUCT LISTING (GRID/LIST) */

/* 7.6 OTHER HOMEPAGE BLOCKS */
/* HOMEPAGE INFO BLOCK */
.homepage_info {padding: 40px 0;}

#homepage_info__title .wrap-1 {font-size: 55px;}
#homepage_info__title .wrap-2 {font-size: 40px;}
#homepage_info__title:after {width: 350px;margin: 20px 0 0 0;}

.homepage_info_item {margin: 25px 0 0 0;}
.homepage_info_item h3 {font-size: 16px;}
.homepage_info_item h3 span {margin: 0 10px 0 0;font-size: 30px;}
.homepage_info_item p {margin: 5px 0 0 0;}




/* HOMEPAGE BOTTOM BLOCK */
.homepage_bottom_item a {height: 120px;}
.homepage_bottom_item .wrap_2 {width: 120px;}
.homepage_bottom_item .wrap_3 {padding: 0 15px;}

.homepage_bottom_item a h3 {font-size: 25px;}
.homepage_bottom_item a i {font-size: 50px;}

.homepage_bottom_item a:hover .wrap_2 {width: 140px;}
.homepage_bottom_item a:hover i {font-size: 70px;}
.homepage_bottom_item a:hover h3 {font-size: 20px;}




/* 7.7 FOOTER */
#back_top {margin: 0 0 0 345px;}




/* 8.4 COLLECTION LISTING */
.collection_listing_item .collection_img a {padding: 10px;}




/* 9.2 SIDEBAR PRODUCT LISTING */

/* 11.1 PRODUCT IMAGES */
.zoomWrapper,
#elevatezoom_big {width: 262px !important;}

#elevatezoom_gallery a {width: 59px !important;}

.zoomContainer {display: none !important;}




/* 14.1 CART PRODUCTS */
.cart-list .item_image a {width: 116px;}




}




/********************************************************************************************************
							< 767px
********************************************************************************************************/

@media (max-width: 767px) {

/* 6. GLOBAL PAGE LAYOUT */
.container {padding:0 15px;}




/* 7.1 HEADER */
#header {padding: 0 0 0px 0;}

.social_header {padding: 33px 0 0 0;}

/*.header_panel {height: 120px;}*/

/*.header_user {float: none;}*/
.header_user { width: 70%}
/*.header_user li {float: left;}*/
.header_user li.user {
	width: 50%;
	height: 60px;
	overflow: hidden;
}
.header_user li.checkout {float: right;}

.cart_currency {width: 30%;height: 60px;}

.header_cart {float: left;}



/* 7.2 MEGAMENU */

/* 7.3 NIVOSLIDER */
.nivo-caption {margin: 0;top: 35%;}
.nivo-caption p {display: block;}





/* 7.4 SHOWCASE */
.showcase_row__1 .table_cell {float: none;}
.showcase_row__1 .table_cell__1 {width: 100%;}
.showcase_row__1 .table_cell__2 {width: 100%;}


.showcase_block__1 {}
.showcase_block__1 a img {height: auto;}
.showcase_block__1 a div {margin: 0;top: 35%;}
.showcase_block__1 p {
    display: block;
    font-size: 13px;
}
.showcase_block__1 table {display: block;}




/* 7.5 MAIN PRODUCT LISTING */
.product_listing_main .product {}

.product_listing_main .product_wrapper {overflow: hidden;}

.product_listing_main .product_img {width: 170px;float: left;}
.product_listing_main .product_img a {padding: 10px;}

.product_listing_main .product_img span.product_badge {left: 5px;top: 5px;}
.product_listing_main .product_img span.sale {display: none;}

.product_listing_main .product_img_hover {display: none !important;}

.product_listing_main .product_info {margin: 0 0 0 190px;padding: 0;}

.product_listing_main .product_name {padding: 0; max-width: 350px;}
.product_listing_main .product_desc {}

.product_listing_main .product_price {padding: 5px 0 0 0;}

.product_listing_main .product_links {}
.product_listing_main .product_links .btn {margin: 10px 0 0 0;}




/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
.featured_products .bx-wrapper {max-width: 767px !important;margin: 0;}
.featured_products .bx-viewport {height: auto !important;}
.featured_products .bx-controls {display: none !important;}

.homepage_carousel {width: 100% !important;max-width: 767px !important;margin: 0;}
.homepage_carousel .product {width: 100% !important;float: none;padding: 0;}
.homepage_carousel .product.bx-clone {display: none;}
.homepage_carousel .product_links {display: block;}




/* COLLECTION PRODUCT LISTING (GRID/LIST) */
.product_collection {}
.product_collection .product_desc {display: block;padding: 10px 0 0 0;}




/* 7.6 OTHER HOMEPAGE BLOCKS */
/* HOMEPAGE INFO BLOCK */
.homepage_info {padding: 40px 0;}

#homepage_info__title .wrap-1 {font-size: 35px;}
#homepage_info__title .wrap-2 {font-size: 25px;}
#homepage_info__title:after {width: 290px;margin: 15px 0 0 0;}

.homepage_info_item {margin: 15px 0 0 0;}
.homepage_info_item h3 {font-size: 25px;}
.homepage_info_item h3 span {margin: 0 10px 0 0;font-size: 30px;}
.homepage_info_item p {margin: 5px 0 0 0;}




/* HOMEPAGE BOTTOM BLOCK */
.homepage_bottom_item {margin: 30px 0 0 0;}




/* HOMEPAGE GOOGLE MAP */
.template-index #google_map {margin: 30px 0 0 0;}




/* HOMEPAGE BRANDS BLOCK */
.homepage_brands {}
.homepage_brands_item {margin: 30px 0 0 0;}
.homepage_brands_item.item_4 {clear: left;}




/* 7.7 FOOTER */
footer h3 {padding: 30px 0 0 0;}

ul.footer_links {padding: 0;}
ul.footer_links li {padding: 10px 0 0 0;}

.footer_block__3 {clear: left;}

.social_footer {padding: 5px 0 0 0;}

footer .copyright {margin: 50px 0 0 0;}

#back_top {display: none !important;}




/* 8.1 BREADCRUMBS */

/* 8.2 DESCRIPTIONS & TAGS */

/* 8.3 PRODUCTS SORTING */
.product_listing_toggle {display: none !important;}

.show_products {float: left;margin: 10px 10px 0 0;}




/* 8.4 COLLECTION LISTING */
.collection_listing_main {}

.collection_listing_item {margin: 30px 0 0 0;}
.collection_listing_item.item_2_1 {clear: left;}




/* 8.5 PAGINATION */

/* 8.3 COLLECTION LISTING */

/* 9. SIDEBAR WIDGETS */
.sidebar {margin: 30px 0 0 0;}




/* 9.2 SIDEBAR PRODUCT LISTING */
.sidebar_widget .product {overflow: hidden;text-align: left;}
.sidebar_widget .product_img {width: 100px;float: left;}
.sidebar_widget .product_info {margin: 0 0 0 115px;}




/* 11.1 PRODUCT IMAGES */
.zoomWrapper {width: 290px !important;margin: 0 auto;}
#elevatezoom_big {width: 290px !important;}

.product_images .bx-wrapper {width: 290px !important;margin: 12px auto 0 auto;}

#elevatezoom_gallery a {width: 68px !important;}




/* 11.2 PRODUCT INFO */
.product_wrap .product_name {margin: 0;padding: 30px 0 0 0;}




/* 14. CART PAGE */
.cart_buttons {text-align: center;}
.cart_buttons span.or {display: block;margin: 5px 0;}




/* 14.1 CART PRODUCTS */
.cart-list .item_image {margin: 0 0 15px 0;}
.cart-list .item_image a {width: 200px;}




}




/********************************************************************************************************
								< 640px
********************************************************************************************************/

@media (max-width: 640px) {

/* 7.1 HEADER */
.header_user li {    padding: 0 0 0 15px;}
.header_user li.user {
	width: 50%;
	height: 60px;
	overflow: hidden;
}
.header_user li ~ li {padding: 0 0 0 10px;}
/*.header_user li.checkout a { padding: 0 15px;}*/

/* 7.3 NIVOSLIDER */
.nivo-caption {margin: -25px 0 0 0;top: 50%;}
.nivo-caption h2 {font-size: 26px;}
.nivo-caption h3 {margin: 5px 0 0 0;font-size: 18px;}
.nivo-caption p {display: none;}




/* 7.4 SHOWCASE */
.showcase_block__1 {}
.showcase_block__1 a div {margin: -25px 0 0 0;top: 50%;}
.showcase_block__1 h2 {font-size: 26px;}
.showcase_block__1 h3 {margin: 5px 0 0 0;font-size: 18px;}
.showcase_block__1 table {display: none;}


.showcase_row__2 .showcase_block {width: 100%;float: none;}
.showcase_row__2 .showcase_block h3 {font-size: 45px;}
.showcase_row__2 .showcase_block h3:before {display: block;}
.showcase_row__2 .showcase_block h4 {font-size: 30px;}
.showcase_row__2 .showcase_block .btn {display: inline-block;}



/* 11.2 PRODUCT INFO */
.product_wrap .variants-wrapper {margin: 0;}
.product_wrap .selector-wrapper {width: 100%;float: none;padding: 15px 0 0 0;}




}




/********************************************************************************************************
								< 480px
********************************************************************************************************/

@media (max-width: 480px) {

/* 7.1 HEADER */
.header_user {text-align: center; width: 80%;
}
.header_user li {    padding: 0 0 0 15px;}
.header_user li.user {
	width: 50%;
	height: 60px;
	overflow: hidden;
}
.header_user li ~ li {padding: 0 0 0 10px;}
.header_user li.checkout a { padding: 0 15px;}




.cart_currency {
	width: 20%;
}
.header_currency {
	padding: 0 15px;
	overflow: hidden;
}
.header_cart a {
	padding: 0 5px 0 5px;
}
.header_cart a i {margin: 0 10px 0 0;}
.header_cart a b {display: none;}




/* 7.2 MEGAMENU */
.megamenu_mobile {width: 100%;float: none;}

.header_search {width: 100%;float: none;}




/* 7.4 SHOWCASE */
.showcase_row__2 .showcase_block .btn {display: none;}




/* 7.5 MAIN PRODUCT LISTING */
.product_listing_main .product_img {width: 120px;}
.product_listing_main .product_info {margin: 0 0 0 135px;}




/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */

/* COLLECTION PRODUCT LISTING (GRID/LIST) */
.product_collection .product_desc {display: none;}




/* 7.6 OTHER HOMEPAGE BLOCKS */
/* HOMEPAGE BRANDS BLOCK */
.homepage_brands {}
.homepage_brands_item {width: 50%;}
.homepage_brands_item.item_3 {clear: left;}
.homepage_brands_item.item_4 {clear: none;}
.homepage_brands_item.item_5 {clear: left;}




/* 7.7 FOOTER */
.footer_block {width: 100%;float: none;}




/* 8.3 PRODUCTS SORTING */
.product_listing_controls {text-align: center;}
.products_count {float: none;margin: 10px 0 0 0;}
#pagination {float: none;margin: 10px 0 0 0;}




/* 13.2 ACCOUNT */
.customer_name .divider {display: none;}
.customer_name .email {display: block;}
.customer_name a {float: none;}




/* 13.4 ORDERS */
#customer_orders th,
#customer_orders td,
#order_details th,
#order_details td {vertical-align: middle;padding: 5px;font-size: 12px;}




}




/********************************************************************************************************
								< 340px
********************************************************************************************************/

@media (max-width: 340px) {



}