/********************************************************************************************************

1. CSS RESET

2. VARIABLES
2.1 GRADIENTS
2.2 COLOR VARIABLES
2.3 CSS3 TRANSITIONS

3. GLOBAL THEME STYLES

4. TYPOGRAPHY
4.1 HEADINGS
4.2 PARAGRAPHS & LISTS
4.3 LINKS
4.4 PRODUCT ATTRIBUTES (name, description, price)
4.5 RTE

5. FORMS & COMPONENTS
5.1 FORMS
5.2 ALERTS
5.3 BUTTONS

6. GLOBAL PAGE LAYOUT

7. MAIN PAGE
7.1 HEADER
7.2 MEGAMENU
7.3 NIVOSLIDER
7.4 SHOWCASE
7.5 MAIN PRODUCT LISTING
7.6 OTHER HOMEPAGE BLOCKS
7.7 FOOTER

8. COLLECTION PAGES
8.1 BREADCRUMBS
8.2 DESCRIPTIONS & TAGS
8.3 PRODUCTS SORTING
8.4 COLLECTION LISTING
8.5 PAGINATION

9. SIDEBAR WIDGETS
9.1 LINKS LIST
9.2 SIDEBAR PRODUCT LISTING

10. SEARCH RESULTS PAGE

11. PRODUCT PAGE
11.1 PRODUCT IMAGES
11.2 PRODUCT INFO
11.3 PRODUCT PAGINATION
11.4 RELATED PRODUCTS

12. BLOG
12.1 POSTS LISTING
12.2 SINGLE POST

13. CUSTOMER PAGES
13.1 LOG IN
13.2 ACCOUNT
13.3 ADDRESSES
13.4 ORDERS

14. CART PAGE
14.1 CART PRODUCTS
14.2 GUEST CHECKOUT

15. CONTACTS PAGE

16. PAGE 404

********************************************************************************************************/



/********************************************************************************************************
                           1. CSS RESET
********************************************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button
{margin: 0;padding: 0;border: 0;outline: none !important;vertical-align: top;background: transparent;font-weight: normal;line-height: 1.5em;}

ol, ul {list-style:none;}
a, span {vertical-align:baseline;}
b, strong {font-weight: bold;}
i, dfn {font-style: italic;}

img {max-width: 100%;}



/********************************************************************************************************
                           2. VARIABLES
********************************************************************************************************/

/* 2.1 GRADIENTS */

/* 2.2 COLOR VARIABLES */

/* COLOR SHADES CONVERTER */








































/* 2.3 CSS3 TRANSITIONS */









/********************************************************************************************************
                  3. GLOBAL THEME STYLES
********************************************************************************************************/

/* hiding placeholder text on focus in webkit, thanks to http://www.kolodvor.net/2012/03/23/webkit-placeholder-attribute-behavior */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {color: transparent;}


/* clearfix - nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {zoom: 1;}

.clearfix:before,
.clearfix:after {content: "";display: table;}

.clearfix:after {clear: both;}


/* utility classes: hidden, float left, float right, etc. */
.hidden,
.visuallyhidden {display: none;}
 
.left {float: left;}
.right {float: right;}


/* addthis styles */
.addthis_toolbox {margin: 15px 0 0 0;border-top: 1px solid #d9d9d9;}
.addthis_toolbox > a {margin: 15px 15px 0 0 !important;padding: 0 !important;}
.addthis_toolbox .at300b {height: 21px;}

.addthis_button_tweet {width: 79px;}

#_atssh {height: 0 !important;margin: 0 !important;padding: 0 !important;font-size: 0 !important;line-height: 0 !important;}


/* jquery.formstyler styles for selects */
.jq-selectbox {display: block;z-index: 1000 !important;cursor: pointer;}
.jq-selectbox.opened {}
.jq-selectbox.focused {}

.jq-selectbox__select {}

.jq-selectbox__select-text {width: 100%;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.jq-selectbox__trigger i {position: absolute;top: 0;right: 0;

-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}
.jq-selectbox__dropdown {width: 100%;

-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}

.jq-selectbox.opened .jq-selectbox__trigger i {
-webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
        transform: rotate(180deg);
}


/* misc */
#at15s {z-index: 999 !important;}

#habla_window_div {
-webkit-backface-visibility: hidden;
-webkit-transform: translateZ(0);
}


/* hex2rgb color converter */



















/* PAGE PRELOADER */
#page_preloader {width: 100%;height: 100%;background: url(//cdn.shopify.com/s/files/1/0889/3312/t/2/assets/bx_loader.gif?13059544368188533011) 50% 50% no-repeat #ffffff;position: fixed;left: 0;top: 0;z-index: 1000;}


/* ADD TO CART MESSAGE */
.cart_popup {width: 100%;height: 86px;font-size: 25px;line-height: 85px;color: #fff;text-align: center;position: fixed;left: 0;top: 0;z-index: 1000;
background: rgba(0,85,60,.7);
display: none;
}


/* COOKIES POLICY MESSAGE */
.cookies_container {min-height: 60px;background: #191919;
display: none;
}

.cookies_container p {display: inline-block;margin: 0;font-size: 17px;line-height: 60px;color: #888;}
.cookies_container p b {vertical-align: baseline;color: #fff;}

.cookies_container .cookie_btn {height: 40px;display: inline-block;margin: 10px 0 10px 6px;padding: 0 20px;border-width: 1px;border-style: solid;font-weight: bold;font-size: 17px;line-height: 38px;color: #fff;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;


-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}
.cookies_container .cookie_ok {margin: 10px 0 10px 20px;background: #18a439;border-color: #18a439;}
.cookies_container .cookie_no {border-color: #585858;}

.cookies_container .cookie_btn:hover {background: #585858;border-color: #585858;}


/* NEWSLETTER POPUP */
#newsletter_popup__wrap {}
#newsletter_popup__wrap .fancybox-skin {padding: 0 !important;background: none !important;
-webkit-box-shadow: none !important;
        box-shadow: none !important;
}
#newsletter_popup__wrap .fancybox-close {width: 30px;height: 30px;display: block;background: none;color: #ffffff;text-align: center;right: 80px;top: 10px;}
#newsletter_popup__wrap .fancybox-close:before {content: '\f00d';font: 25px/29px 'FontAwesome';}
#newsletter_popup__wrap .fancybox-close:hover {color: #f00;}


#newsletter_popup {position: relative;}


.popup_layer__1 {width: 100%;height: 440px;background: #f6b220;position: absolute;left: 0;top: 30px;z-index: -1;}
.popup_layer__2 {position: relative;z-index: 1;}


.popup_left {width: 470px;height: 440px;float: left;margin: 30px 0 0 0;text-align: center;

background: url(//cdn.shopify.com/s/files/1/0889/3312/t/2/assets/newsletter_popup_bg.png?13059544368188533011) 50% bottom no-repeat;

}
.popup_left .logo_newsletter {padding: 45px 0 0 0;}


.popup_right {width: 430px;height: 500px;float: left;padding: 0 30px;background: #00553c;text-align: center;}

.popup_right h4 {margin: 0;font-size: 40px;line-height: 44px;color: #ffffff;}
.popup_right h4:before {content: '';width: 35%;height: 10px;display: block;margin: 55px auto 35px auto;background: #f6b220;}


.popup_right form {margin: 35px 0 0 0;position: relative;}
.popup_right form input {width: 200px;height: 47px;background: none;padding: 0 12px;border: 2px solid #ffffff;color: #ffffff;
-webkit-box-shadow: none !important;
        box-shadow: none !important;
}
.popup_right form input:focus {border-color: #f6b220 !important;}

.popup_right form .btn_subscr {width: 120px;height: 47px;margin: 0 0 0 7px;padding: 0;background: none !important;border: 2px solid #ffffff !important;}
.popup_right form .btn_subscr:before {content: '\f0e0';margin: 0 7px 0 0;font: 14px 'Fontawesome';color: #ffffff;}

.popup_right form .btn_subscr:hover,
.popup_right form .btn_subscr:active {background: #00ab4e !important;border-color: #00ab4e !important;}


#newsletter_popup .newsletter_error {width: 100%;margin: 0;font-size: 14px;color: #f00;text-align: center;text-transform: uppercase;position: absolute;left: 0;top: 58px;}
#newsletter_popup .newsletter_success {margin: 35px 0 0 0;font-size: 18px;color: #00ab4e;text-align: center;text-transform: uppercase;}


#newsletter_popup .newsletter_off__wrap {margin: 45px 0 0 0;text-align: center;}
#newsletter_popup .newsletter_off__wrap .btn {min-height: 40px;height: 40px;font-size: 14px;padding: 5px 20px;background: #00ab4e !important;border-color: #00ab4e !important;text-transform: uppercase;}
#newsletter_popup .newsletter_off__wrap .btn:hover {background: #f6b220 !important;border-color: #f6b220 !important;}




/* GOOGLE MAPS */
#google_map,
#google_map iframe {width: 100% !important;height: 300px !important;background: #e7e7e6;}

#google_map img {max-width: none !important;}


/* FANCYBOX */
.fancybox-skin {
-webkit-border-radius: 0;
        border-radius: 0;
}



/********************************************************************************************************
                           4. TYPOGRAPHY
********************************************************************************************************/

body {font: normal 14px "Roboto Condensed";color: #777777;}




/* 4.1 HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {margin: 15px 0;font: normal 32px "Roboto Condensed";color: #333333;text-transform: uppercase;}

h2,
h3,
h4 {font-size: 16px;}

h5,
h6 {font-size: 14px;}

.page_heading {margin: 0;font-size: 32px;}
.page_heading a {float: right;}


.template-index .page_heading {padding: 30px 0 0 0;}




/* 4.2 PARAGRAPHS & LISTS */
p {margin: 15px 0;padding: 0;}

.column_center ul {list-style-type: square;list-style-position: inside;}
.column_center ol {list-style-type: decimal;list-style-position: inside;}




/* 4.3 LINKS */
a {color: #00ab4e;text-decoration: none;
-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover,
a:active {color: #333333;}




/* 4.4 PRODUCT ATTRIBUTES (name, description, price) */
.product_name {font-size: 15px;color: #333333;}
.product_name a {color: #333333;

-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}
.product_name a:hover {color: #00ab4e;}


.product_desc {font-size: 13px;color: #999999;}


.money {color: #f6b220;}
.product_price_sale .money {color: #f54040;}

.compare-at-price,
.product_price_sale .compare-at-price {color: #777777;text-decoration: line-through;}




/* 4.5 RTE */
.rte {margin-top: 15px;margin-bottom: 15px;color: inherit;}

.rte a {color: inherit;text-decoration: underline;}
.rte a:hover {text-decoration: none;}

.rte h1 {font-size: 19px;}
.rte h2 {font-size: 17px;}
.rte h3 {font-size: 16px;}
.rte h4 {font-size: 14px;}
.rte h5 {font-size: 13px;}
.rte h6 {font-size: 12px;}
.rte img {margin-top: 15px;margin-bottom: 15px;}




/********************************************************************************************************
                           5. FORMS & COMPONENTS
********************************************************************************************************/

/* 5.1 FORMS */
label {color: #333333;}
select,
select.form-control,
textarea,
textarea.form-control,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="telephone"] {padding: 6px;border:1px solid #d9d9d9;font-size: 13px;color: #777777;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
border-radius: 0;
box-shadow: none;
}

select,
select.form-control {padding: 8px 3px;}

textarea,
textarea.form-control {min-width: 100%;max-width: 100%;}

select:focus,
select.form-control:focus,
textarea:focus,
textarea.form-control:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="telephone"]:focus {border-color: #aaa;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ddd;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ddd;
}


.form-group {vertical-align: top !important;margin-top: 15px;margin-bottom: 0;}


.form-horizontal {}
.form-horizontal label {padding-top: 0 !important;text-align: right;line-height: 34px;}
.form-horizontal select {width: 100%;}

.action_bottom span.note {margin-left: 5px;}
.action_bottom span.note a {margin-left: 5px;}




/* 5.2 ALERTS */
.alert {margin: 15px 0;
-webkit-border-radius: 0;
   -moz-border-radius: 0;
        border-radius: 0;
}

.alert > p,
.alert > ul,
.alert > ol {list-style-type: none;margin: 0;}

.alert > p + p,
.alert > ul + ul {margin: 10px 0 0 0;}




/* 5.3 BUTTONS */
.btn,
.btn a,
.btn-info,
.btn-primary {padding: 8px 15px;background: #00553c !important;border-color: #00553c !important;line-height: 1.2em;color: #ffffff !important;
border-radius: 0 !important;
box-shadow: none !important;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}

.btn a {padding: 0 !important;border: none !important;}

.btn:hover,
.btn:hover a,
.btn-info:hover,
.btn-primary:hover {background: #00ab4e !important;border-color: #00ab4e !important;}

.btn-alt,
.btn-alt a {background: rgba(0,0,0,.2) !important;border-color: rgba(0,0,0,0) !important;color: #333333 !important;}

.btn-alt:hover,
.btn-alt:hover a {background: #00ab4e !important;border-color: #00ab4e !important;color: #ffffff !important;}




/********************************************************************************************************
                           6. GLOBAL PAGE LAYOUT
********************************************************************************************************/

html, body {height: 100%;}

#wrapper1 {position: relative;z-index: 1;
background:  #ffffff;
}
#wrapper2 {overflow: hidden;}

.container {padding: 0;}

.page_container {max-width: 2050px;margin-left: auto;margin-right: auto;}


/* outdated browsers notification */
.old_browsers a {display: block;padding: 20px 0;background: #ffa200;font-size: 20px;color: #fff;text-align: center;text-decoration: none;
text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);

-webkit-transition: color .4s ease-in-out;
        transition: color .4s ease-in-out;
}
.old_browsers a i {margin: 0 5px 0 0;font-size: 30px;color: #e90b00;
text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);
}
.old_browsers a:hover {color: #e90b00;}




/********************************************************************************************************
                           7. MAIN PAGE
********************************************************************************************************/

/* 7.1 HEADER */
#header {
    padding: 0 0 22px 0;
    overflow: hidden;
}


.logo_main {}
.logo_main a {display: inline-block;text-align: center;}
.logo_main b {display: block;font-weight: bold;font-size: 103px;line-height: 1em;color: #333333;letter-spacing: -3px;}
.logo_main span {
    display: block;
    font-size: 12px;
    color: #777777;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

.logo_header {float: left;padding: 38px 0 0 0;}


.header_right {float: right;}


.social_links {font-size: 0;}
.social_links li {display: inline-block;margin: 6px 6px 0 0;font-size: 28px;}
.social_links li a {vertical-align: top;color: rgba(0,0,0,.22);}
.social_links li a:hover {color: #333333;}

.social_header {margin: 0 -6px 0 0;padding: 28px 0 0 0;text-align: right;}


.header_panel {min-height: 60px;background: rgba(0,0,0,.05);}
.cart_currency {float: right;}


.header_user {float: right;font-size: 0;}
.header_user li {display: inline-block;font-size: 14px;}
.header_user li a {color: #777777;}
.header_user li a:before {margin: 0 7px 0 0;font-family: 'FontAwesome';color: #00ab4e;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
   -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
     -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

}
.header_user li.user a:before {content: '\f007';}
.header_user li.lock a:before {content: '\f13e';}

.header_user li a:hover {color: #00ab4e;}
.header_user li a:hover:before {color: #00553c;}

.header_user li.checkout {}
.header_user li.checkout a {height: 60px;display: block;padding: 0 30px;background: #00ab4e;line-height: 60px;color: #ffffff;}
.header_user li.checkout a:hover {background: #00553c;}


.header_currency {height: 60px;float: right;padding: 0 30px;background: #f6b220;position: relative;z-index: 11;}
.header_currency select {width: 0 !important;height: 0 !important;overflow: hidden !important;}
.header_currency .jq-selectbox {width: 45px;}
.header_currency .jq-selectbox__select {/*padding: 0 10px;*/}
.header_currency .jq-selectbox__select-text {line-height: 60px;color: #ffffff;}
.header_currency .jq-selectbox__trigger i {line-height: 59px;color: #ffffff;right: 0;top: 0;}

.header_currency .jq-selectbox__dropdown {width: auto !important;height: auto !important;background: #00ab4e;left: -10px;top: 45px !important;right: -10px;}
.header_currency .jq-selectbox__dropdown ul {background: #00ab4e;
-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
.header_currency .jq-selectbox__dropdown ul li {padding: 4px 5px;color: #ffffff;text-align: center;}
.header_currency .jq-selectbox__dropdown ul li ~ li {border-top: 1px solid rgba(255,255,255,.25);}

.header_currency .jq-selectbox__dropdown ul li:hover {color: #f6b220;}
.header_currency .jq-selectbox__dropdown ul li.sel {background: #f6b220;color: #ffffff;cursor: default;}


.header_cart {float: right;}
.header_cart a {height: 60px;display: block;padding: 0 20px 0 30px;background: #f6b220;color: #ffffff;}
.header_cart a i {margin: 0 15px 0 0;font-size: 42px;line-height: 59px;}
.header_cart a b {margin: 0 10px 0 0;font-weight: normal;font-size: 20px;line-height: 59px;}
.header_cart a span {}
.header_cart a span.cart-total-items {width: 45px;height: 45px;display: inline-block;vertical-align: top;margin: 7px 0 0 0;background: #ffffff;font-size: 20px;line-height: 44px;color: #00ab4e;text-align: center;
-webkit-border-radius: 50%;
        border-radius: 50%;

-webkit-box-shadow: inset 0 0 0 0 rgba(0,0,0,0);
        box-shadow: inset 0 0 0 0 rgba(0,0,0,0);


-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}

.header_cart a:hover {color: #00553c;}
.header_cart a:hover span.cart-total-items {color: #ffffff;
-webkit-box-shadow: inset 0 0 0 25px #00553c;
        box-shadow: inset 0 0 0 25px #00553c;
}




/* 7.2 MEGAMENU */
#megamenu {background: #00553c;position: relative;z-index: 10;}


.sf-menu {position: relative;}
.sf-menu > li {float: left;margin: 0 30px 0 0;}
.sf-menu > li ~ li {margin: 0;}
.sf-menu > li > a {height: 80px;display: block;padding: 0 20px;font-size: 20px;line-height: 80px;color: #ffffff;position: relative;}
.sf-menu > li > a.sf-with-ul:after {content: '\f107';vertical-align: middle;margin: 0 0 0 5px;font: 14px 'FontAwesome';}


.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover,
.sf-menu > li > a.active {background: #f6b220;}

.sf-menu .menu_badge {height: 18px;display: block;padding: 0 7px;background: #00ab4e;font-size: 10px;line-height: 17px;color: #ffffff;text-transform: uppercase;position: absolute;right: 1px;top: 1px;}


.sf-menu > li > ul {width: 100%;background: #f6b220;position: absolute;left: 0;top: 80px;
display: none;
}
.sf-menu .submenu {padding: 20px}


/* 1: CATALOG */
.sf-menu > li.megamenu_item_1 {width: 270px;}
.sf-menu > li.megamenu_item_1 > a {padding: 0 30px;background: #00ab4e;font-size: 33px;text-transform: uppercase;}
.sf-menu > li.megamenu_item_1 > a.sf-with-ul:after {content: '\f0c9';float: right;font: 20px/80px 'FontAwesome';}
.sf-menu > li.megamenu_item_1 .menu_badge {background: #f6b220;}

.sf-menu > li.megamenu_item_1 > ul {background: #00ab4e;}

.submenu_1 a {color: #ffffff;}
.submenu_1 a:hover {color: #f6b220;}
.submenu_1 h4 {margin: 0;font-size: 20px;text-transform: uppercase;}
.submenu_1 ul {margin: 7px 0 0 0;}
.submenu_1 ul li {padding: 3px 0 0 0;}
.submenu_1 .btn {margin: 15px 0 0 0;}
.submenu_1 .btn:hover {background: #f6b220 !important;border-color: #f6b220 !important;}


/* 2: BLOG */
.megamenu_item_2 {}
.megamenu_item_2 .blog_date {font-size: 12px;color: #00553c;text-transform: uppercase;}
.megamenu_item_2 .blog_title {margin: 10px 0 0 0;font-size: 20px;}
.megamenu_item_2 .blog_title a {color: #ffffff;}
.megamenu_item_2 .blog_title a:hover {color: #00553c;}

.megamenu_item_2 .blog_content,
.megamenu_item_2 .blog_content > * {margin: 10px 0;color: #00553c;}

.megamenu_item_2 .blog_content img {display: none !important;}
.megamenu_item_2 .btn {margin: 10px 0 0 0;}


/* 3: SALE */
.megamenu_item_3 {}
.megamenu_item_3 .product_img {}
.megamenu_item_3 .product_img a {display: block;padding: 20px;background: rgba(255,255,255,.4);}
.megamenu_item_3 .product_name {padding: 15px 0 0 0;}
.megamenu_item_3 .product_name a {color: #00553c;}
.megamenu_item_3 .product_name a:hover {color: #ffffff;}
.megamenu_item_3 .product_price {padding: 10px 0 0 0;}
.megamenu_item_3 .product_price .money {margin: 0 5px 0 0;font-size: 25px;color: #ffffff;}
.megamenu_item_3 .product_price .compare-at-price {font-size: 16px;}


/* 4: CUSTOM LINK */
.megamenu_item_4 {}


/* 5: CUSTOM LINK */
.megamenu_item_5 {}


/* STICK UP MENU STYLES */
#megamenu.isStuck {width: 100%;left: 0;top: 0;z-index: 10000;
-webkit-backface-visibility: hidden;

-webkit-transform: translateZ(0);

-webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.2);
        box-shadow: 0 1px 0 0 rgba(255,255,255,.2);
}


/* HEADER SEARCH */
.header_search {width: 200px;float: right;background: #ffffff;}
.header_search form {height: 80px;padding: 0 50px 0 0;background: rgba(0,0,0,.05);}
.header_search #search-field {width: 100%;height: 40px;float: left;margin: 20px 0 0 0;padding: 0 0 0 15px;background: none;border: none;
-webkit-box-shadow: none !important;
        box-shadow: none !important;
}
.header_search #search-submit {width: 50px;height: 40px;margin: 20px -55px 0 0;color: #00553c;}
.header_search #search-submit i {width: 50px;height: 40px;display: block;font-size: 17px;line-height: 39px;text-align: center;}

.header_search #search-submit:hover {color: #00ab4e;}




/* 7.3 NIVOSLIDER */
.nivoSlider {width: 100%;height: auto;overflow: hidden;position: relative;}
.nivoSlider img {max-width: none;position: absolute;top: 0;left: 0;}
.nivo-main-image {width: 100% !important;display: block !important;position: relative !important;}

.nivoSlider a.nivo-imageLink {width: 100%;height: 100%;margin: 0;padding: 0;border: 0;z-index: 6;position: absolute;left: 0;top: 0;
display: none;filter: alpha(opacity=0);opacity: 0;
}

.nivo-slice {height: 100%;display: block;position: absolute;top: 0;z-index: 5;}

.nivo-box {display: block;overflow: hidden;position: absolute;z-index: 5;}
.nivo-box img {display: block;}

.nivoSlider > a,
.nivoSlider > img,
.caption_hidden {display: none;}


.slider_wrap {height: 100%;position: relative;z-index: 1;}

.nivoSlider {}

.nivo-caption {width: 100%;position: absolute;left: 0;top: 44%;z-index: 8;
display: none;
}
.nivo-caption h2 {margin: 0;padding: 0 60px;font-size: 75px;line-height: 1em;color: #ffffff;letter-spacing: -2px;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
   -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
     -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

}
.nivo-caption h3 {margin: -5px 0 0 0;padding: 0 60px;font-size: 61px;line-height: 1em;color: #ffffff;letter-spacing: -2px;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
   -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
     -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

}
.nivo-caption p {width: 60%;margin: 23px 0 0 0;padding: 32px 60px 0 60px;font-size: 15px;line-height: 27px;color: #ffffff;position: relative;}
.nivo-caption p:before {content: '';width: 474px;height: 10px;background: #00ab4e;position: absolute;left: 60px;top: 0;}

.nivo-caption a:hover h2 {color: #f6b220;}
.nivo-caption a:hover h3 {color: #f6b220;}


.slider_nav {}
.slider_nav .container {}

.slider_nav a {width: 30px;height: 30px;display: block;vertical-align: top;margin: -15px 0 0 0;background: #333333;position: absolute;top: 50%;z-index: 9;cursor: pointer;}
.slider_nav a:before {display: block;font: 20px/28px 'FontAwesome';color: #ffffff;text-align: center;}

.slider_nav .slider_nav__prev {left: 20px;}
.slider_nav .slider_nav__prev:before {content: '\f104';}

.slider_nav .slider_nav__next {right: 20px;}
.slider_nav .slider_nav__next:before {content: '\f105';}


.slider_controls {width: 100%;padding: 0 65px;font-size: 0;text-align: right;position: absolute;left: 0;bottom: 65px;z-index: 10;}
.slider_controls .container {width: 100%;}

.slider_controls a {width: 16px;height: 0;display: inline-block;overflow: hidden;vertical-align: top;padding: 16px 0 0 0;background: #00ab4e;cursor: pointer;
-webkit-border-radius: 50%;
        border-radius: 50%;

-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0);
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0);


-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}
.slider_controls a ~ a {margin: 0 0 0 10px;}

.slider_controls a:hover {
-webkit-box-shadow: inset 0 0 0 10px #f6b220;
        box-shadow: inset 0 0 0 10px #f6b220;
}
.slider_controls a.active {cursor: default;
-webkit-box-shadow: inset 0 0 0 10px #f6b220;
        box-shadow: inset 0 0 0 10px #f6b220;
}




/* 7.4 SHOWCASE */
#showcase {}

.showcase_row__1 {}
.showcase_row__1 .table_cell {float: left;}
.showcase_row__1 .table_cell__1 {width: 59.5%;}
.showcase_row__1 .table_cell__2 {width: 40.5%;}


.showcase_block__1 {overflow: hidden;}
.showcase_block__1 a {height: 100%;display: block;position: relative;}
.showcase_block__1 a img {height: 100%;}
.showcase_block__1 a div {width: 100%;position: absolute;left: 0;top: 20%;padding: 0 25px;}
.showcase_block__1 h2 {margin: 0;padding: 0 60px;font-size: 55px;line-height: 1em;color: #ffffff;letter-spacing: -2px;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
   -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
     -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

}
.showcase_block__1 h3 {margin: -5px 0 0 0;padding: 0 60px;font-size: 61px;line-height: 1em;color: #ffffff;letter-spacing: -2px;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
   -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
     -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

}
.showcase_block__1 p {width: 90%;margin: 23px 0 0 0;padding: 32px 60px 0 60px;font-size: 15px;line-height: 27px;color: #ffffff;position: relative;}
.showcase_block__1 table {width: 90%;margin: 0 0 0 20px; font-size: 14px;line-height: 27px;color: #ffffff;position: relative;}
.showcase_block__1 p:before {content: '';width: 474px;height: 10px;background: #00ab4e;position: absolute;left: 60px;top: 0;}

.showcase_block__1 a:hover h2 {color: #f6b220;}
.showcase_block__1 a:hover h3 {color: #f6b220;}


.showcase_row__2 {}
.showcase_row__2 .row {margin: 0;}
.showcase_row__2 .showcase_block {padding: 0;}
.showcase_row__2 .showcase_block a {display: block;overflow: hidden;text-align: right;position: relative;}
.showcase_row__2 .showcase_block a .wrap_1 {width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.showcase_row__2 .showcase_block a .wrap_2 {width: 100%;height: 100%;display: table;}
.showcase_row__2 .showcase_block a .wrap_3 {width: 100%;height: 100%;display: table-cell;vertical-align: middle;padding: 0 60px;text-align: left;}


.showcase_row__2 .showcase_block h3 {margin: 0;font-size: 75px;line-height: 1em;color: #ffffff;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
   -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
     -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

}
.showcase_row__2 .showcase_block h3:before {content: '';width: 137px;height: 10px;display: block;margin: 0 0 9px 0;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
   -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
     -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

}
.showcase_row__2 .showcase_block h4 {margin: -5px 0 0 0;font-size: 45px;line-height: 1em;color: #ffffff;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
   -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
     -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

}
.showcase_row__2 .showcase_block .btn {margin: 15px 0 0 0;padding: 17px 25px;background: none !important;border: 2px solid #ffffff !important;font-size: 20px;}
.showcase_row__2 .showcase_block .btn:hover {background: #ffffff !important;color: #00ab4e !important;}


.showcase_row__2 .showcase_block__2 a {background: #00553c;}
.showcase_row__2 .showcase_block__2 h3:before {background: #f6b220;}

.showcase_row__2 .showcase_block__2 a:hover {background: #f6b220;}
.showcase_row__2 .showcase_block__2 a:hover h3 {color: #00ab4e;}
.showcase_row__2 .showcase_block__2 a:hover h3:before {background: #00553c;}
.showcase_row__2 .showcase_block__2 a:hover h4 {color: #00ab4e;}


.showcase_row__2 .showcase_block__3 a {background: #00ab4e;}
.showcase_row__2 .showcase_block__3 h3:before {background: #f6b220;}

.showcase_row__2 .showcase_block__3 a:hover {background: #f6b220;}
.showcase_row__2 .showcase_block__3 a:hover h3 {color: #00553c;}
.showcase_row__2 .showcase_block__3 a:hover h3:before {background: #00ab4e;}
.showcase_row__2 .showcase_block__3 a:hover h4 {color: #00553c;}


.showcase_row__2 .showcase_block__4 a {background: #c2d42f;}
.showcase_row__2 .showcase_block__4 h3:before {background: #00ab4e;}

.showcase_row__2 .showcase_block__4 a:hover {background: #00553c;}
.showcase_row__2 .showcase_block__4 a:hover h3 {color: #f6b220;}
.showcase_row__2 .showcase_block__4 a:hover h3:before {background: #00ab4e;}
.showcase_row__2 .showcase_block__4 a:hover h4 {color: #f6b220;}

.showcase_row__2 .showcase_block__5 a {background: #f6b220;}
.showcase_row__2 .showcase_block__5 h3:before {background: #00ab4e;}

.showcase_row__2 .showcase_block__5 a:hover {background: #00553c;}
.showcase_row__2 .showcase_block__5 a:hover h3 {color: #f6b220;}
.showcase_row__2 .showcase_block__5 a:hover h3:before {background: #00ab4e;}
.showcase_row__2 .showcase_block__5 a:hover h4 {color: #f6b220;}

#F6B0B3


/* 7.5 MAIN PRODUCT LISTING */
.product_listing_main.row {margin: 0;}

.product_listing_main .product_wrapper {padding: 30px 0 0 0;}

.product_listing_main .product_img {position: relative;}
.product_listing_main .product_img a {display: block;padding: 30px;background: rgba(0,0,0,.05);position: relative;}

.product_listing_main .product_img_hover {width: 100%;height: 100%;overflow: hidden;position: absolute;left: 0;bottom: 0;z-index: 11;
opacity: 0;

background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}
.product_listing_main .product_img_hover form {position: absolute;left: 30px;bottom: -100px;right: 30px;
opacity: 0;

-webkit-transition: all .3s ease-in-out .2s;
        transition: all .3s ease-in-out .2s;
}
.product_listing_main .product_img_hover form .btn {width: 100%;height: 64px;display: block;padding: 0;background: #f6b220 !important;border-color: #f6b220 !important;font-size: 20px;}
.product_listing_main .product_img_hover form .btn i {width: 50px;height: 50px;display: inline-block;margin: 6px 8px 0 0;background: #00ab4e;font-size: 34px;line-height: 50px;color: #ffffff;
-webkit-border-radius: 50%;
        border-radius: 50%;


-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}
.product_listing_main .product_img_hover form .btn span {height: 64px;display: inline-block;line-height: 60px;}

.product_listing_main .product_img_hover form .btn:hover {background: #00ab4e !important;border-color: #00ab4e !important;}
.product_listing_main .product_img_hover form .btn:hover i {background: #f6b220;}


.product_listing_main .product_img:hover .product_img_hover {
opacity: 1;
}
.product_listing_main .product_img:hover .product_img_hover form {bottom: 30px;
opacity: 1;
}

.product_listing_main .product_img span.product_badge {height: 30px;display: block;padding: 0 10px;font-size: 15px;line-height: 29px;color: #ffffff;position: absolute;top: 10px;z-index: 10;}
.product_listing_main .product_img span.new {background: #00ab4e;left: 10px;}
.product_listing_main .product_img span.sale {background: #f54040;right: 10px;}

.product_listing_main .product_info {padding: 0 30px 0 0;}

.product_listing_main .product_name {padding: 6px 0 0 0;}

.product_listing_main .product_price {}
.product_listing_main .product_price .money {margin: 0 4px 0 0;font-size: 29px;}
.product_listing_main .product_price .compare-at-price {font-size: 16px;}

.product_listing_main .product_links {}
.product_listing_main .product_links form {display: inline-block;}
.product_listing_main .product_links .btn {margin: 10px 0 0 0;}
.product_listing_main .product_links .btn-cart {background: #f6b220 !important;border-color: #f6b220 !important;}
.product_listing_main .product_links .btn-cart i {margin: 0 5px 0 0;}
.product_listing_main .product_links .btn-cart span {line-height: 1.2em;}

.product_listing_main .product_links .btn-cart:hover {background: #00ab4e !important;border-color: #00ab4e !important;}




/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
.featured_products .bx-wrapper {max-width: 100% !important;}
.featured_products .bx-viewport {height: auto !important;}

.featured_products .bx-controls {position: absolute;right: 0;top: -35px;z-index: 99;}
.featured_products .bx-controls a {width: 30px;height: 30px;display: inline-block;overflow: hidden;background: #00553c;text-align: center;}
.featured_products .bx-controls a:hover {background: #00ab4e;}

.featured_products .bx-controls a:before {display: block;font: 17px/30px 'FontAwesome';color: #ffffff;}

.featured_products .bx-prev:before {content: '\f104';padding: 0 1px 0 0;}
.featured_products .bx-next:before {content: '\f105';padding: 0 0 0 1px;}

.featured_products .bx-prev {}
.featured_products .bx-next {margin: 0 0 0 1px;}


.homepage_carousel .product {width: 293px !important;border-right: 1px solid #ffffff;}
.homepage_carousel .product_links {display: none;}




/* COLLECTION PRODUCT LISTING (GRID/LIST) */
.product_collection {}
.product_collection.item3_1 {clear: left;}

.product_collection.item3_2,
.product_collection.item3_3 {border-left: 1px solid #ffffff;}

.product_collection .product_img_hover {display: none !important;}

.product_collection .product_price {padding: 5px 0 0 0;}

.product_collection .product_desc {display: none;}



.view_list {}
.view_list .product {width: 100%;float: none;overflow: hidden;}
.view_list .product_img {width: 200px;float: left;}
.view_list .product_img a {padding: 15px;}
.view_list .product_info {margin: 0 0 0 220px;padding: 0;}
.view_list .product_name {padding: 0;}
.view_list .product_desc {display: block;padding: 10px 0 0 0;}




/* 7.6 OTHER HOMEPAGE BLOCKS */

/* HOMEPAGE INFO BLOCK */
.homepage_info {
    margin-top: 40px;
    padding: 60px 0;
    background: url(../img/homepage_info_bg.jpg) 50% 0 no-repeat;
}

#homepage_info__title {margin: 0;}
#homepage_info__title .wrap-1 {display: block;font-size: 75px;line-height: 1em;color: #ffffff;}
#homepage_info__title .wrap-2 {display: block;margin: -6px 0 0 0;font-size: 62px;line-height: 1em;color: #ffffff;}
#homepage_info__title:after {content: '';width: 474px;height: 10px;display: block;margin: 32px 0 0 0;background: #00ab4e;}

.homepage_info_item {margin: 15px 0 0 0;}
.homepage_info_item h3 {margin: 0;font-size: 26px;line-height: 1em;color: #ffffff;}
.homepage_info_item h3 span {margin: 0 20px 0 0;font-size: 62px;color: #f6b220;}
.homepage_info_item p {margin: 0;font-size: 15px;line-height: 27px;color: #ffffff;}




/* HOMEPAGE BRANDS BLOCK */
.homepage_brands {}
.homepage_brands_item {margin: 50px 0 0 0;}
.homepage_brands_item a {display: block;background: rgba(0,0,0,.05);text-align: center;position: relative;}
.homepage_brands_item a:after {content: '';display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 1;
-webkit-box-shadow: inset 0 0 0 0 rgba(0,85,60,0);
        box-shadow: inset 0 0 0 0 rgba(0,85,60,0);


-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}

.homepage_brands_item a:hover:after {
-webkit-box-shadow: inset 0 0 0 10px rgba(0,85,60,.7);
        box-shadow: inset 0 0 0 10px rgba(0,85,60,.7);
}




/* HOMEPAGE BOTTOM BLOCK */
.homepage_bottom {}
.homepage_bottom .row {margin: 0;}
.homepage_bottom .row > div {padding: 0;}

.homepage_bottom_item {margin: 50px 0 0 0;}
.homepage_bottom_item a {height: 170px;display: block;overflow: hidden;background: #00ab4e;}
.homepage_bottom_item .wrap_1 {width: 100%;height: 100%;display: table;}
.homepage_bottom_item .wrap_2 {width: 170px;height: 100%;display: table-cell;vertical-align: middle;background: #f6b220;text-align: center;

-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}
.homepage_bottom_item .wrap_3 {height: 100%;display: table-cell;vertical-align: middle;padding: 0 15px 0 30px;

-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}

.homepage_bottom_item a i {display: block;font-size: 62px;color: #ffffff;

-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}
.homepage_bottom_item a h3 {margin: 0;font-size: 39px;line-height: 1em;color: #ffffff;

-webkit-transition: .3s ease-in-out;
   -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

}

.homepage_bottom_item a:hover {background: #00553c;}
.homepage_bottom_item a:hover .wrap_2 {width: 200px;}
.homepage_bottom_item a:hover i {font-size: 100px;}
.homepage_bottom_item a:hover h3 {font-size: 35px;}


.homepage_bottom_item.item_2 {border-left: 1px solid #ffffff;}



/* HOMEPAGE GOOGLE MAP */
.template-index #google_map {margin: 50px 0 0 0;}




/* 7.7 FOOTER */
footer{
    margin: 50px 0 0 0;
    background: rgba(0,0,0,.05);
    overflow: hidden;
    padding: 20px 0 60px;
}

footer h3 {margin: 0;padding: 45px 0 0 0;font-size: 20px;color: rgba(0,0,0,.92);text-transform: none;}

.footer_block {}

ul.footer_links {padding: 7px 0 0 0;}
ul.footer_links li {padding: 12px 0 0 0;}
ul.footer_links li a {color: #777777;}

ul.footer_links li.active a,
ul.footer_links li a:hover {color: #00ab4e;}


.social_footer {padding: 17px 0 0 0;}
.social_footer li a:hover {color: #00ab4e;}


footer .copyright {margin: 62px 0 0 0;border-top: 1px solid #d9d9d9;}
footer .copyright p {margin: 0;padding: 7px 0 30px 0;font-size: 13px;color: rgba(0,0,0,.34);}
footer .copyright a {color: rgba(0,0,0,.34);}
footer .copyright a:hover {color: #00ab4e;}


/* BACK TO TOP BUTTON */
#back_top {width: 30px;height: 30px;display: block;margin: 0 0 0 615px;background: #00553c;text-align: center;position: fixed;left: 52%;bottom: 56px;z-index: 999;}
#back_top i {display: block;font-size: 15px;line-height: 30px;color: #ffffff;}

#back_top:hover {background: #00ab4e;}




/********************************************************************************************************
                           8. COLLECTION PAGES
********************************************************************************************************/

/* 8.1 BREADCRUMBS */
.breadcrumb_wrap {margin: 0 0 50px 0;background: rgba(0,0,0,.1);text-transform: uppercase;}
.breadcrumb {margin: 0;padding: 10px 0;background: none;
-webkit-border-radius: 0;
        border-radius: 0;
}




/* 8.2 DESCRIPTIONS & TAGS */
.collection_info {}
.collection_info .collection_img {margin-top: 15px;text-align: center;}
.collection_info .collection_desc {margin-top: 15px;}
.collection_info .collection_desc .rte {margin: 0;}

ul.tags {margin: 10px 0 0 0;list-style-type: none;}
ul.tags li {float: left;margin: 5px 5px 0 0;}
ul.tags li a {display: block;padding: 5px 10px;background: #00553c;color: #ffffff;}

ul.tags li a:hover,
ul.tags li.active a {background: #00ab4e;}




/* 8.3 PRODUCTS SORTING */
.product_listing_controls {overflow: hidden;margin: 30px 0 0 0;padding: 0 10px 10px 10px;background: rgba(0,0,0,.1);}

.product_listing_toggle {float: left;font-size: 0;}
.product_listing_toggle li {width: 30px;height: 30px;display: inline-block;margin: 10px 10px 0 0;border: 1px solid transparent;color: #777777;text-align: center;cursor: pointer;

-webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
   -moz-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -ms-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
     -o-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

}
.product_listing_toggle li.active {background: #00ab4e;border-color: #00ab4e;color: #ffffff;cursor: default;}
.product_listing_toggle li i {font-size: 17px;line-height: 30px;}

.sort_by {float: right;margin: 10px 0 0 10px;}
.sort_by label {margin: 0 4px 0 0;line-height: 30px;}
.sort_by select {width: auto !important;height: 30px;display: inline-block;padding: 5px 4px;cursor: pointer;}

.show_products {float: right;margin: 10px 0 0 10px;}
.show_products label {margin: 0 4px 0 0;line-height: 30px;}
.show_products select {width: auto !important;height: 30px;display: inline-block;padding: 5px 4px;cursor: pointer;}

#product_listing_preloader {position: relative;}
#product_listing_preloader p {width: 100%;height: 32px;background: url(//cdn.shopify.com/s/files/1/0889/3312/t/2/assets/bx_loader.gif?13059544368188533011) 50% 0 no-repeat;position: absolute;left: 0;top: 0;}




/* 8.4 COLLECTION LISTING */
.collection_listing_main {}
.collection_listing_main .row {margin: 0;}

.collection_listing_item {margin: 30px 0 0 0;padding: 0;border-left: 1px solid #ffffff;}
.collection_listing_item.item_4_1 {clear: left;border: none;}

.collection_listing_item .collection_img {}
.collection_listing_item .collection_img a {display: block;padding: 30px;background: rgba(0,0,0,.05);}

.collection_listing_item .collection_info {padding: 0 20px 0 0;}
.collection_listing_item .collection_name {margin: 15px 0 0 0;font-size: 18px;}
.collection_listing_item .collection_products {margin: 5px 0 0 0;color: #333333;}
.collection_listing_item .collection_desc {margin: 5px 0 0 0;}
.collection_listing_item .btn {margin: 15px 0 0 0;}




/* 8.5 PAGINATION */
.products_count {height: 30px;float: left;margin: 10px 10px 0 0;font-size: 14px;line-height: 30px;color: #00553c;}

#pagination {display: inline-block;overflow: hidden;float: right;margin: 10px 0 0 10px;font-size: 0;}
#pagination span {display: inline-block;vertical-align: top;}
#pagination span ~ span {margin: 0 0 0 2px;}

#pagination span a {height: 30px;display: block;padding: 0 10px;background: #ffffff;border: 1px solid #ffffff;font-size: 13px;line-height: 29px;color: #00ab4e;}
#pagination span.page a {width: 30px;padding: 0;text-align: center;}

#pagination span a:hover {background: #00553c;border-color: #00553c;color: #ffffff;}

#pagination span.current {width: 30px;height: 30px;background: #00ab4e;border: 1px solid #00ab4e;font-weight: bold;font-size: 13px;line-height: 29px;color: #ffffff;text-align: center;cursor: default;}




/********************************************************************************************************
                           9. SIDEBAR WIDGETS
********************************************************************************************************/

.sidebar_widget {}
.sidebar_widget ~ .sidebar_widget {margin: 30px 0 0 0;}

.sidebar_widget .widget_header {margin: 0;font-size: 32px;}

.sidebar_widget .widget_content {margin: 15px 0 0 0;}




/* 9.1 LINKS LIST */
.sidebar_widget ul {}
.sidebar_widget ul li {}
.sidebar_widget ul li ~ li {margin: 1px 0 0 0;}
.sidebar_widget ul li a {display: block;padding: 7px 15px;background: rgba(0,0,0,.05);font-size: 20px;color: #00ab4e;text-transform: uppercase;}

.sidebar_widget ul li a:hover {background: #00ab4e;color: #ffffff;}
.sidebar_widget ul li.active a {background: #00ab4e;color: #f6b220;}




/* 9.2 SIDEBAR PRODUCT LISTING */
.sidebar_widget .product {overflow: hidden;padding: 15px;background: rgba(0,0,0,.05);}
.sidebar_widget .product ~ .product {margin: 1px 0 0 0;}

.sidebar_widget .product_img {width: 100px;float: left;}

.sidebar_widget .product_info {margin: 0 0 0 115px;}

.sidebar_widget .product_name {}

.sidebar_widget .product_desc {}

.sidebar_widget .product_price {}
.sidebar_widget .product_price .money {margin: 0 4px 0 0;font-size: 24px;}
.sidebar_widget .product_price .compare-at-price {font-size: 15px;}




/********************************************************************************************************
                           10. SEARCH RESULTS PAGE
********************************************************************************************************/

#searchresults {margin: 0;}
#searchresults .search-form {margin: 15px 0 0 0;}
#searchresults .search-form input {width: 100%;float: left;padding: 0 34px 0 10px;}
#searchresults .search-form button {width: 34px;height: 34px;float: left;margin: 0 0 0 -34px;background: none;border: none;font-size: 20px;color: #00ab4e;}
#searchresults .search-form button:hover {color: #333333;}
#searchresults .search-form button i {line-height: 32px;}

#searchresults h3 {margin: 0;padding: 0;} 

#searchresults ol {list-style-type: none;padding: 15px 0 0 0;border-bottom: 1px solid #d9d9d9;}
#searchresults ol li {overflow: hidden;margin: 0;padding: 15px 0;border-top: 1px solid #d9d9d9;}
#searchresults ol li .search-result_image {float: left;margin-right: 15px;}
#searchresults ol li .search-result_container {padding: 15px 0 0 0;}




/********************************************************************************************************
                           11. PRODUCT PAGE
********************************************************************************************************/

.product_wrap {padding: 8px 0 0 0;}




/* 11.1 PRODUCT IMAGES */
/* BIG IMAGE + ZOOM */
.zoomWrapper,
#elevatezoom_big {width: 345px !important;height: auto !important;position: relative !important;}

#elevatezoom_big ~ #elevatezoom_big {width: 0 !important;height: 0 !important;}

.zoomWrapper {background: rgba(0,0,0,.05);}

.zoomContainer {z-index: 1 !important;}
.zoomLens {z-index: 1 !important;}
.zoomWindow {margin: -1px 0 0 0 !important;}


/* THUMBS */
.product_images .bx-wrapper {max-width: 100% !important;margin: 12px 0 0 0;padding: 0 30px;position: relative;}

#elevatezoom_gallery {}
#elevatezoom_gallery a {width: 87px !important;display: block;margin: 0 12px 0 0;background: rgba(0,0,0,.05);}

.product_images .bx-controls a {width: 20px;height: 20px;display: block;overflow: hidden;margin: -10px 0 0 0;background: #00553c;line-height: 1em;text-align: center;position: absolute;top: 50%;}
.product_images .bx-controls a:hover {background: #00ab4e;}

.product_images .bx-controls a:before {font: 10px/21px 'FontAwesome';color: #ffffff;}

.product_images .bx-controls a.bx-prev {left: 0;}
.product_images .bx-controls a.bx-prev:before {content: '\f053';}
.product_images .bx-controls a.bx-next {padding: 0 0 0 1px;right: 0;}
.product_images .bx-controls a.bx-next:before {content: '\f054';}




/* 11.2 PRODUCT INFO */
.product_wrap .product_name {margin: -6px 0 0 0;font-size: 20px;}

.product_wrap .product-price {margin: 15px 0 0 0;padding: 0;font-size: 18px;}
.product_wrap .product-price .money {margin: 0 8px 0 0;font-size: 30px;}
.product_wrap .product-price .compare-at-price {font-size: 16px;}


#purchase {}
#purchase label {display: inline-block;margin: 15px 10px 0 0;padding: 0 !important;line-height: 37px;}
#purchase #quantity {width: 50px;height: 37px;display: inline-block;margin: 15px 10px 0 0;padding: 0;outline: none;text-align: center;}
#purchase #add-to-cart {height: 37px;margin: 15px 10px 0 0;padding: 6px 15px;background: #f6b220 !important;border-color: #f6b220 !important;font-size: 18px;}
#purchase #add-to-cart:hover {background: #00ab4e !important;border-color: #00ab4e !important;}

.product_wrap .variants-wrapper {margin: 0 -10px;overflow: hidden;}
.product_wrap .selector-wrapper {width: 33.33333333333333%;float: left;padding: 15px 10px 0 10px;}
.product_wrap .selector-wrapper label {display: block;line-height: 1.5em;text-align: left;}
.product_wrap .selector-wrapper select {width: 100%;height: 37px;padding: 5px;}

.product_wrap .product_details {margin: 15px 0 0 0;padding: 10px 0 15px 0;border: 1px solid #d9d9d9;border-width: 1px 0;}
.product_wrap .product_details > div {padding: 5px 0 0 0;}

.product_wrap #product_description {}
.product_wrap #product_description h4 {padding-bottom: 0;border: none;text-transform: none;}




/* 11.3 PRODUCT PAGINATION */
.product_wrap .pagination_product {width: 100%;overflow: hidden;list-style-type: none;margin: 15px 0;padding: 0;}
.product_wrap .pagination_product li.left-arrow {float: left;}
.product_wrap .pagination_product li.right-arrow {float: right;}




/* 11.4 RELATED PRODUCTS */
.widget_related_products {}
.widget_related_products h3 {margin: 30px 0 0 0;}

ul.product_listing_related {list-style-type: none;}
ul.product_listing_related .row {}
ul.product_listing_related .product {padding: 0;}
ul.product_listing_related .product ~ .product {border-left: 1px solid #ffffff;}

ul.product_listing_related .product_img {}
ul.product_listing_related .product_name {}
ul.product_listing_related .product_price {}
ul.product_listing_related .product_price .money {font-size: 24px;}




/********************************************************************************************************
                           12. BLOG
********************************************************************************************************/

/* 12.1 POSTS LISTING */
#blog {}

.blog-article {padding: 15px 0 0 0;}

.article_header {padding: 15px 0;border-bottom: 1px solid #d9d9d9;}
.article_header .product_name {font-size: 20px;}
.article_header .product_name a {}
.article_header .product_name a:hover {}

.blog-article_meta-comments {float: right;padding: 6px 0 0 15px;}

.blog-article_date,
.blog-article_meta-tags {font-style: italic;}

.blog-article_meta-tags a {text-decoration: underline;}




/* 12.2 SINGLE POST */
.article_meta-comments {float: right;padding: 6px 0 0 15px;}
.article_meta-tags a {text-decoration: underline;}

.article_date,
.article_meta-tags,
.article_meta {font-style: italic;}


#comments ul {list-style-type: none;}

.comment-form {}

.comment-form #comment-author,
.comment-form #comment-email,
.comment-form #comment-body {width: 100%;}

.comment-form #comment-body {min-height: 100px;margin-bottom: 15px;}

.article_comments-form {padding-bottom: 10px;margin-top: 1em;padding-top: 10px;}

.section-title {margin-bottom: 2px;padding-bottom: 8px;}

.comment-form .row {margin-bottom: 1em;}

.comment-submit {}




/********************************************************************************************************
                           13. CUSTOMER PAGES
********************************************************************************************************/

/* 13.1 LOG IN */

/* 13.2 ACCOUNT */
.customer_account {}

.customer_name {text-transform: none !important;}
.customer_name .divider {margin: 0 7px;}
.customer_name .email {}
.customer_name a {float: right;}




/* 13.3 ADDRESSES */
.customer_addresses {}

.customer_addresses ul.customer_addresses_actions {list-style-type: none;margin: 15px 0;}
.customer_addresses ul.customer_addresses_actions li {}
.customer_addresses ul.customer_addresses_actions li a {}
.customer_addresses ul.customer_addresses_actions li a i {margin: 0 5px 0 0;line-height: inherit;}

.customer_addresses .col-sm-offset-4 label {line-height: 1.6em;}


.address_table .address_title {vertical-align: baseline;}
.address_table .address_title .address_actions {vertical-align: baseline;float: right;margin: 0 0 0 15px;text-transform: none;}
.address_table .address_title .address_actions span {vertical-align: baseline;}


ul.address {list-style-type: none;}




/* 13.4 ORDERS */
.order_date {margin: 15px 0 0 0;}

#order_details {margin: 30px 0 0 0;}



/********************************************************************************************************
                           14. CART PAGE
********************************************************************************************************/

/* 14.1 CART PRODUCTS */
.cart-list {overflow: hidden;}

.cart-list > .row {padding-top: 15px;padding-bottom: 15px;border-bottom: 1px solid #d9d9d9;}

.cart-list .item_image {text-align: center;}
.cart-list .item_image a {width: 195px;display: block;}
.cart-list .item_image a img {max-width: 100%;background: rgba(0,0,0,.05);}

.cart-list .product_name {margin: 0 10px 0 0;}

.cart-list .item_remove {margin: 0 0 0 10px;}
.cart-list .item_remove a {font-size: 20px;color: #fe2a2a;}
.cart-list .item_remove a:hover {color: #00ab4e;}

.cart-list .row h3.item_vendor {border-bottom: 1px solid #d9d9d9;color: #888;}

.cart-list .item_price {padding: 10px 0 0 0;}
.cart-list .item_price .price {line-height: 37px;}

.cart-list .item_price label {padding: 0;line-height: 37px;}
.cart-list .item_price .input-small {width: 60px !important;height: 37px;display: inline-block;padding: 5px;text-align: center;}

.cart-list .item_price .total {text-align: right;}
.cart-list .item_price .total h3 {vertical-align: baseline;border: none;}

.cart_subtotal {}
.cart_subtotal h3 {margin: 0;padding: 10px 0;border-bottom: 1px solid #d9d9d9;}
.cart_subtotal h3 .money {float: right;font-size: inherit;}

.cart_buttons {margin: 30px 0;}

.cart_instructions {}
.cart_instructions h4 {}
.cart_instructions textarea {width: 100%;}

#payment-methods {overflow: hidden;}
#payment-methods ul {list-style-type:none;list-style-position: outside;}
#payment-methods ul li {float:left;padding: 15px 15px 0 0;}




/* 14.2 GUEST CHECKOUT */
#guest {padding: 30px 0 0 0;}
#guest form {padding: 15px 0 0 0;}




/********************************************************************************************************
                           15. CONTACTS PAGE
********************************************************************************************************/

.contact-scope {position: relative;}
.contact-socials {position: absolute;top: -20px;right: 0;}
.contact-scope #google_map {margin: 15px 0;}

.contact-form {}

.contact-scope iframe {width: 100%;margin: 15px 0;border: 1px solid #d9d9d9;}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="telephone"],
.contact-form textarea {}

.contact-form textarea {width: 100%;}

.contact-form_buttons {}
.contact-form_buttons .btn-toolbar {}




/********************************************************************************************************
                           16. PAGE 404
********************************************************************************************************/

.template-404 h2,
.template-404 h2 a {vertical-align: baseline;}